In [34]:
import yfinance as yf
# yf.pdr_override()
import pandas as pd

In [35]:
years = 30
def cagr(beginning_value, ending_value, years):
    cagr_val = (ending_value / beginning_value) ** (1 / years) - 1
    return cagr_val
ticker = yf.Ticker("AAPL")
start_val = ticker.history(period="30y")['Open'].iloc[0]
end_val = ticker.history(period="30y")['Open'].iloc[-1]
print(f'the compound annual growth rate for MSFT is {cagr(start_val, end_val, years)}')

dateindex = pd.to_datetime(ticker.history(period="30y").index)
start_time = dateindex[0]
end_time = dateindex[-1]

ticker.info.keys()
print(f'the EV/EBITDA is {ticker.info["enterpriseToEbitda"]}')
print(f'The calculated EV/EBITDA is {ticker.info["enterpriseValue"]/ticker.info["ebitda"]}')

the compound annual growth rate for MSFT is 0.2458301893510757
the EV/EBITDA is 22.892
The calculated EV/EBITDA is 22.891610830915027

In [43]:
ticker.cash_flow.loc['Capital Expenditure']

2022-12-31   -2212400000.0
2021-12-31    -940300000.0
2020-12-31   -1000800000.0
Name: Capital Expenditure, dtype: object

In [37]:
# ticker = yf.Ticker("MSFT")
# ticker.info['marketCap']
data = pd.read_csv('../data/tech.csv').dropna(how = 'any', axis = 0)
data = data.sort_values(by='Market Cap', ascending=False).reset_index()

In [38]:
symbols = data['Symbol']

df = pd.DataFrame({
    'symbol': symbols[0:5],
    'sector': '',
    'industry': '',
    'marketCap': '',
    'CAGR': ''
})
df

  symbol sector industry marketCap CAGR
0   AAPL
1   MSFT
2   GOOG
3  GOOGL
4   NVDA

In [39]:
ticker = yf.Ticker(symbols[0])
df.iloc[0]['symbol'] = symbols[0]
df.iloc[0]['sector'] = ticker.info['sector']
df.iloc[0]['industry'] = ticker.info['industry']
df.iloc[0]['marketCap'] = ticker.info['marketCap']
df

  symbol      sector              industry      marketCap CAGR
0   AAPL  Technology  Consumer Electronics  2817856110592
1   MSFT
2   GOOG
3  GOOGL
4   NVDA

In [40]:
for i in range(0,10):
    try:
        print(f'{symbols[i]} \n processing {i} of {len(symbols)} symbols')
        ticker = yf.Ticker(symbols[i])
        df.loc[i, 'symbol'] = symbols[i]
        df.loc[i, 'sector'] = ticker.info['sector']
        df.loc[i, 'industry'] = ticker.info['industry']
    except:
        print(f'{symbols[i]} not found. skipping...')

AAPL
 processing 0 of 519 symbols
MSFT
 processing 1 of 519 symbols
GOOG
 processing 2 of 519 symbols
GOOGL
 processing 3 of 519 symbols
NVDA
 processing 4 of 519 symbols
META
 processing 5 of 519 symbols
TSM
 processing 6 of 519 symbols
AVGO
 processing 7 of 519 symbols
ORCL
 processing 8 of 519 symbols
ASML
 processing 9 of 519 symbols

In [41]:
df

,symbol,sector,industry,marketCap,CAGR
0,AAPL,Technology,Consumer Electronics,2817856110592,
1,MSFT,Technology,Software - Infrastructure,,
2,GOOG,Communication Services,Internet Content & Information,,
3,GOOGL,Communication Services,Internet Content & Information,,
4,NVDA,Technology,Semiconductors,,
5,META,Communication Services,Internet Content & Information,NaN,NaN
6,TSM,Technology,Semiconductors,NaN,NaN
7,AVGO,Technology,Semiconductors,NaN,NaN
8,ORCL,Technology,Software - Infrastructure,NaN,NaN
9,ASML,Technology,Semiconductor Equipment & Materials,NaN,NaN

In [42]:
#set end date for today's date for up to date data
end = '2023-12-04' #date.today()
#List to append data temporarily
ls= []
#dataframe to hold all the retrieved data
final_df = {}

#loop through each ticker in info_df
for sym in info_df["Ticker"]:

    #store data retrieved a Ticker from 2018-01-01 to today's date
    stock_data = wb.DataReader({sym}, start='2018-1-1', end= end)
    stock_data["Ticker"] = sym
    
    #appennding the data in ls list
    ls.append(stock_data)
    
    #concate that ls to final_df dataframe
    final_df = pd.concat(ls)
#show the dataframe
final_df

NameError: name 'info_df' is not defined